:root {
  --darkbackground: #171717;
  --lightbackground: #fff;
  --black: #000;
  --white: #fff;
  --green: #0abf53;
  --footer-color: #0e0e0e;
  --bg-light: #0c0b0b;
  --bg-color: #171717;
  --font-light: #b7b7b7;
  --thumbBG: #0abf53;
  --box-shadow: rgba(0, 255, 0, 0.5);
}

@font-face {
  font-family: Merriweather;
  src: url(Merriweather-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Merriweather;
}

html {
  font-size: 18px;
}

/* Header Code Starts */

#myHeader .container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: var(--green);
}

#myHeader .container h1 {
  color: var(--white);
}

#myHeader .container nav ul li {
  list-style: none;
  display: inline-block;
  margin: 10px 0;
}

#myHeader .container nav ul li a {
  text-decoration: none;
  display: block;
  padding: 20px 30px;
  color: var(--white);
  font-size: 1.2rem;
  position: relative;
  transition: scale 0.5s;
}

#myHeader .container nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: var(--white);
  width: 0%;
  transition: 0.5s;
}
#myHeader .container nav ul li a:hover::after {
  width: 100%;
}
#myHeader .container nav ul li a:hover {
  scale: 1.1;
}

h1,
h2,
h3 {
  color: var(--white);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  color: var(--font-light);
  font-size: 1rem;
  text-align: justify;
}

span {
  color: var(--green);
}

/* Header Code Ends */

/* Banner Code Starts */

#banner .container {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  background-image: url(imgs/5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#banner .container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--darkbackground);
  opacity: 0.6;
}

#banner .container .spacing {
  width: 30%;
}

#banner .container .ban-box {
  background-color: var(--black);
  width: 40%;
  padding: 60px;
  margin: 20px 0;
  z-index: 1;
  border-radius: 0 60px 0 60px;
}

.learn-more {
  padding: 12px 30px;
  background: var(--green);
  color: var(--white);
  font-size: 1rem;
  border: none;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

/* Banner Code Ends */

/* Section One Code Starts */

/* #section-one .container .section-one-content {
  width: 30%;
}

#section-one .container .section-one-content p {
  margin: 20px 0;
}

#section-one .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 50px;
  background-color: var(--bg-light);
}

#section-one .container .imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  gap: 50px;
} */

#section-one {
  background-color: var(--bg-light);
}

#section-one .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  padding: 60px 0;
  transition: 1s;
}

#section-one .container .section-one-content {
  width: 30%;
}

#section-one .container .imgs {
  width: 15%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#section-one .container .imgs img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 5px 5px rgba(0, 255, 0, 0.5);
  animation-name: imageanimations;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes imageanimations {
  33% {
    transform: translate(-5px) rotate(3deg);
  }
  66% {
    transform: translate(5px) rotate(-3deg);
  }
}

/* Section One Code Ends */

/* Section Two Code Starts */
#section-two {
  background-color: var(--darkbackground);
}
#section-two .container {
  transition: 1s;
  padding: 60px 0;
}

#section-two .container .section-two-content,
#section-two .container .section-two-content p {
  text-align: center;
}

#section-two .container .all-box {
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  height: 300px;
}

#section-two .container .all-box .box {
  background-color: var(--bg-light);
  padding: 50px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s;
}

#section-two .dots .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--box-shadow);
}

#section-two .dots .dot.active {
  background-color: var(--green);
}

#section-two .dots {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 30px;
}

#section-two .container .all-box .box i {
  font-size: 3rem;
  color: var(--green);
  margin-right: 15px;
}

#section-two .container .all-box .box a {
  text-decoration: none;
  color: var(--white);
}

#section-two .container .all-box .box p {
  margin-top: 10px;
}

/* Section Two Code Ends */

/* Section Three Code Start */

#section-three {
  background-color: var(--bg-light);
}
#section-three .container {
  transition: 1s;
  padding: 50px 0;
  height: 100vh;
}

#section-three .container .section-three-content,
#section-three .container .section-three-content p {
  text-align: center;
}

#section-three .container .all-box {
  display: flex;
  margin-top: 30px;
  position: relative;
  height: 480px;
  overflow: hidden;
}

.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

#section-three .container .all-box .box {
  padding: 10px;
  border: solid 2px rgba(0, 255, 0, 0.5);
  transition: 0.5s;
  position: absolute;
  width: 25%;
}

/* #section-three .container .all-box .box:hover {
  scale: 1.1;
  background-color: rgba(0, 255, 0, 0.3);
  color: var(--black);
} */

#section-three .container .all-box .box .box-content {
  padding: 10px;
}

#section-three .container .all-box .box img {
  width: 100%;
  object-fit: cover;
}

#section-three .container .all-box .box h3 {
  margin: 10px 0;
}

.arrow {
  position: absolute;
  top: calc(50% - 20px);
  padding: 20px;
  border-radius: 50%;
  color: var(--lightbackground);
  background-color: var(--thumbBG);
  cursor: pointer;
  z-index: 3;
}
.arrowleft {
  left: 30px;
}
.arrowright {
  right: 40px;
}

/* Section Three Code Ends */

footer .container {
  background-color: var(--darkbackground);
  text-align: center;
  padding: 50px;
}

footer .container i {
  color: var(--green);
  font-size: 1.5rem;
  margin: 20px 20px 0 20px;
  cursor: pointer;
  transition: transform 0.5s;
}

footer .container i:hover {
  transform: rotate(360deg) scale(1.5);
}

footer .foot-bot {
  background-color: var(--bg-light);
  padding: 50px;
}

footer .foot-bot p {
  text-align: center;
}
